:root {
    --bg-color: #111111;
    --card-color: rgb(23, 23, 23);
  }
  
  body {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    font-family: "outfit";
  }
  
  
  header{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 130px;
  margin: 0px;
  align-items: center;
  background-color: #111111;
}

header {
  color: #ffffff;
  text-align: center;
}

header:after {
  content: ""; 
  display: block;
  margin: 0 auto;
  width: 360px;
  border-bottom: 1px solid;
  border-color: #494747;
}

  #cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 18px;
    width: 100%;
    max-width: 1320px;
    margin-top: 58px;
    margin-bottom: 18px;
    background-color: #111111;
  }
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    height: 380px;
    flex-direction: column;
    position: relative;
    width: 550px;  
    margin: 10px;
  }
  
  .card:hover::before {
    opacity: 1;
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y), 
      rgba(0, 119, 255, 0.041),
      transparent 40%
    );
    z-index: 3;
  }
  
  .card::after {  
    background: radial-gradient(
      400px circle at var(--mouse-x) var(--mouse-y), 
      rgba(171, 242, 255, 0.4),
      transparent 40%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    align-items: center;
  }
  
  /* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */
  h2, h4, span {
    color: rgb(240, 240, 240);
    font-family: "Outfit";
    font-weight: 400;
  }
  
  h3{
    color: rgb(240, 240, 240);
    text-align: center;
    font-family: "Outfit";
    font-weight: 700;
    font-size: 3rem;
  }

  i {  
    color: rgb(240, 240, 240);
  }
  
  .card-info-wrapper {
    align-items: center; 
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 40px;
  }
  
  .card-info {
    align-items: flex-start;
    display: flex;
  }
  
  .card-info > i {  
    font-size: 2.5em;
    height: 20px;
    line-height: 20px;
  }
  
  .card-info-title > h3 {
    font-size: 2.5em;
  }
  
  .card-info-title > h4 {
    color: rgba(246, 231, 255, 0.952);
    font-size: 1.1rem;
    font-weight: 200;
    text-align: center;
    margin-top: 8px;
  }
  

  h1{
    text-align: center;
    font-size: 2.8rem;
}
